.soft-underline {
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1); /* Adjust color and spread for a softer effect */
  }
  

  /* Custom invisible scrollbar */
.scrollbar-invisible::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Optional for horizontal scrolling */
}

.scrollbar-invisible {
  scrollbar-width: none; /* Firefox-specific: hides the scrollbar */
}
